#gallery {
	position:relative;
	width: 570px; 
	padding: 0px 10px 10px 10px;
}
		
.item {
	width:100px;
	height:75px;
	margin: 10px;
	overflow:hidden;
	position:relative;
	float:left;
	padding: 10px; 
	background-color: #ddd;
}

.item .caption {
	width:110px;
	height:25px;
	padding-left: 10px;
	bottom:0;
	color:#fff;
	background:#000;
	position:absolute;
	left:0;
	display:none;
	filter:alpha(opacity=82);
	-moz-opacity:0.8;
	opacity: 0.8;
}

.item img {
	border:0;
	position:absolute;
}

.item:hover {
	outline: 1px solid #999;
}